<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="[COLOR red]32001[/COLOR]" type="enum" id="resources_language" lvalues="30007|30008|30009" default="0"/>
        <setting label="30006" type="lsep"/>
        <setting label="30003" type="bool" id="cache_on_flag" default="true"/>
        <setting label="30004" type="slider" id="cache_TTL" default="24" range="0,4,48" option="int" enable="eq(-1,true)"/>
        <setting label="30005" type="slider" id="pages_preload" default="2" range="0,1,5" option="int" enable="eq(-2,true)" />

    </category>
    <category label="32020">
        <setting label="32023" type="slider" id="max_retries" default="2" range="0,5" option="int"/>
        <setting label="32021" type="slider" id="connect_timeout" default="2" range="0.1, 0.1, 5" option="float"/>
        <setting label="32022" type="slider" id="read_timeout" default="2" range="0.5, 0.5, 10" option="float"/>
    </category>
</settings>
